@media screen and (max-width: 790px){
    .container{
        width: 100%;
    }

    body{
        margin-top: 0;
    }
}

@media screen and (max-width: 650px){

    .container{
        flex-direction: column-reverse;
        height: auto;
    }

    .container .chat,
    .container .me{
        width: 100%;
    }

    .container .chat .chat-messages{
        height: 400px;
    }

    .container .me img{
        display: none;
    }

    .container .users{
        display: none;
    }
}