<!DOCTYPE html>
<html lang="en">

<!--Head-->

<%- include('./partials/head')%>
<link rel="stylesheet" href="/css/mediaquery/index.css">

<body>
    <!--Header-->
    <header>
        <h1 class="logo">Chatter</h1>

        <!--Menu-->
        <nav class="menu">
            <a href="https://github.com/MarceloTV/Chatter/" target="blank">Github</a>
        </nav>
    </header>

    <!--Main -->
    <main>
        
        <!--Container-->
        <div class="container">

            <!--Login-->
            <div class="login">
                <h1>Login</h1>
                <p>If you are register login whit you data</p>
                <form action="/login" method="post">
                    <input type="email" name="email" placeholder="type your email">
                    <input type="password" name="password" placeholder="type your password">
                    <% if (error.exist == true && error.type == "login") {%>
                        <p class="error_message"><%= error.message%></p>
                    <% } %>
                    <button type="submit">Send</button>
                </form>
            </div>

            <!--Separation line-->
            <div class="separation"></div>

            <!--Signup-->
            <div class="signup">
                <h1>Register</h1>
                <p>If  your aren’t register ,register here and type
                your data</p>
                <form action="/signup" method="post">
                    <input type="email" name="email" placeholder="type your email">
                    <input type="text" name="name" placeholder="type your name">
                    <input type="password" name="password" placeholder="type your password">
                    <% if (error.exist == true && error.type == "register") {%>
                        <p class="error_message"><%= error.message%></p>
                    <% } %>
                    <button type="submit">Send</button>
                </form>
            </div>
        </div>

    </main>
    
</body>
</html>