/*CSS app.ejs*/

/*My severs container*/
.my-servers{
    background: var(--second);
    border: var(--main) 2px solid;
    border-radius: 10px;
    padding: 20px;
    width: 35%;
    align-self: center;
}

/*My servers form's select*/
.my-servers form select{
    margin-top: 10px;
    width: 100%;
    height: 50px;
    border: solid 1px var(--main);
    border-radius: 10px;
    font-size: 36px;
    color: rgba(0, 0, 0, .57);
}

/*My servers form's select/buttom */
.my-servers form select,.my-servers form button{
    font-family: 'ubuntu_regular';
    display: block;
}

/*My servers form's buttom*/
.my-servers form button{
    width: 35%;
    margin: auto;
    margin-top: 10px;
}

/*Login Server container*/
.login-server{
    margin-top: 100px;
}

/*Login/Create Server container */
.create-server,.login-server{
    background: var(--second);
    border: var(--main) 2px solid;
    border-radius: 10px;
    padding: 20px;
}

/*Login/Create/My servers' h2*/
.create-server h2,.login-server h2,.my-servers h2{
    font-family: 'ubuntu_regular';
    font-size: 48px;
    color: var(--main);
    text-align: center;
}

/*Create/Loign form's input*/
.create-server form input,.login-server form input{
    font-family: 'ubuntu_regular';
    font-size: 27px;
    display: block;
    border: var(--main) solid 1px;
    border-radius: 10px;
    padding: 5px 0;
    padding-left: 2px;
    margin: 10px 0;
}

/*Create/Login form's button*/
.create-server form button,
.login-server form button{
    display: block;
    margin: auto;
}